---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="CodeNote | Authenticate">
    <main class="flex flex-col items-center h-screen">

            <h1 class="text-4xl font-bold">Email confirmed!</h1>
            
            <a href="/signin" class="bg-[#141222] text-3xl font-medium text-slate-200 rounded-xl text-center p-1">Sign in!</a>
  
        </main>
</Layout>