---
import NotesLogic from "@/components/Notes/NotesLogic";
import SignOut from "@/components/SignOut";
import Layout from "@/layouts/Layout.astro";
import { supabase } from "@/lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");

}
---

<Layout title="CodeNote | Dashboard" description="Your CodeNote dashboard, where you can see and interact with your notes">
  <main class="flex flex-col items-center justify-between h-screen">
    <h1 class="text-5xl font-bold text-center mt-4">Welcome!</h1>
    <NotesLogic userID={data?.user?.id!} client:load/>
    <SignOut client:load/>
  </main>
</Layout>
