---
import LoginOrDashboard from "@/components/Login/LoginOrDashboard.astro"
import Layout from '@/layouts/Layout.astro';

export const prerender = true
---


<Layout title="CodeNote">
	<main>
		<h1 class="text-4xl font-bold text-center">CodeNote</h1>
		<section class="p-1 flex flex-col text-center items-center justify-evenly" id="welcomeSection">
			<p class="text-2xl font-medium">Organize your time and your tasks, effectively with all the information you need in one place!</p>
			<LoginOrDashboard styles="text-slate-200 p-2 rounded-xl text-3xl bg-[#141222]" title="Get Started!"/>	
		</section>
		<section class="p-1 flex flex-col text-center items-center h-full">
			<p>How it works</p>
		</section>
	</main>
</Layout>

<style>
	#welcomeSection {
		height: calc(100vh - 104px);
	}
</style>

