---
import LoginOrDashboard from "@/components/Login/LoginOrDashboard.astro"
import Layout from '@/layouts/Layout.astro';

export const prerender = true
---


<Layout title="CodeNote">
	<main class="flex flex-col items-center justify-center md:flex-row md:justify-normal md:p-8">
		<div class="fixed z-0 opacity-20 w-[90%] md:w-[40%] md:opacity-100 md:static">
			<img src="/logo.webp" class="aspect-square w-full"/>
		</div>
		<div class="md:w-[60%] md:flex md:flex-col md:justify-center md:items-center">
			<section class="p-1 flex flex-col text-center items-center justify-evenly z-50" id="welcomeSection">
				<p class="text-2xl font-medium md:text-5xl md:w-[500px]">
					Organize your time and your tasks, effectively with all the information you need in one place!
				</p>
				
				<LoginOrDashboard styles="text-slate-200 p-2 rounded-lg text-3xl bg-neutral-900 md:text-5xl" title="Get Started!"/>	
			</section>
			<section class="p-1 flex flex-col text-center items-center h-full z-50 max-w-[600px]" id="how-it-works">
				<h3 class="text-3xl font-bold">How it works</h3>
				<p class="text-xl">
					CodeNote it's like your usual todo list app, but focused on the organization of documentation, what does this mean? 
				</p>
				<p class="text-xl">
					Let's say you want to learn how to code in Java, you'll need to look for documentation about it, videos, and maybe some snippets of code, well, you can store all that information here!
				</p>
			</section>
		</div>
	</main>
</Layout>

<style>
	#welcomeSection {
		height: calc(100vh - 104px);
	}
</style>

