---
---

<footer class="bg-neutral-900 flex h-[100%] text-slate-200 p-2 z-50">
    <div class="w-[50%] flex items-center text-xl">
        <p>©Gabriel Trujillo 2024</p>
    </div>
    <div class="w-[50%] flex justify-end items-center gap-4">
        <a href="https://www.linkedin.com/in/gabriel-trujillo-315927274/" target="_blank" class="text-xl" aria-label="linkedin-profile-contact">Contact</a>
        <a href="https://github.com/DeikuModder/code-note" target="_blank" class="w-[60px]" aria-label="github-project-link"><img src="/github-mark-white.svg" alt="github-logo"></a>
    </div>
</footer>