---
---

<footer class="bg-neutral-900 flex h-[100%] text-slate-200 p-2">
    <div class="w-[50%] flex-1">
        <p>@Gabriel Trujillo 2024</p>
    </div>
    <div class="w-[50%] flex-1">

    </div>
</footer>