---
---

<footer class="bg-neutral-900 flex h-[100%] text-slate-200 p-2 z-50">
    <div class="w-[50%] flex-1 text-xl">
        <p>©Gabriel Trujillo 2024</p>
    </div>
    <div class="w-[50%] flex justify-end">
        <a href="https://github.com/DeikuModder/code-note" target="_blank" class="w-[60px]" aria-label="github-project-link"><img src="/github-mark-white.svg" alt="github-logo"></a>
    </div>
</footer>