---
import LoginOrDashboard from "./Login/LoginOrDashboard.astro"
import UserLogo from "./UserLogo"
---

<header class="flex flex-col flex-shrink items-center">
    <nav class="flex flex-row bg-neutral-900 text-slate-200 w-[100vw] h-18 p-3 md:h-[90px] z-50 px-8">
        <div class="flex items-center w-[50%]">
            <a href="/">
                <div class="w-[40%] aspect-square bg-slate-200 rounded-full flex items-center justify-center md:w-[10%]">
                    <img src="/logo.webp" class="w-[90%]"/>
                </div>
            </a>
        </div>
        <div class="flex items-center justify-end w-[50%]">
            <LoginOrDashboard styles="aspect-square w-[10%] md:w-[5%]">
                <UserLogo slot="icon"/>
            </LoginOrDashboard>
        </div>
    </nav>
</header>
