---
import LoginOrDashboard from "./Login/LoginOrDashboard.astro"
import UserLogo from "./UserLogo"

---

<header class="flex flex-col flex-shrink items-center">
    <nav class="flex flex-row bg-neutral-900 text-slate-200 w-full h-18 p-3 md:h-[90px] px-8">
        <div class="flex items-center w-[50%] ">
            <a href="/">
                <div class="w-[40%] aspect-square rounded-full flex items-center justify-center md:w-[10%]">
                    <img src="/logo.webp" class="w-[90%] aspect-square rounded-full" alt="code-note-logo"/>
                </div>
            </a>
        </div>
        <div class="flex items-center justify-end w-[50%]">
            <LoginOrDashboard styles="aspect-square w-[40px] text-4xl transition-all hover:scale-105">
                <UserLogo slot="icon"/>
            </LoginOrDashboard>
        </div>
    </nav>
</header>
