---
import Footer from '@/components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header.astro';
import i18next, { t } from "i18next"
interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
	</body>
	<Footer />
</html>
<style is:global>
	* {
		box-sizing: border-box;
		min-width: 0;	
	},
	html {
		font-family: system-ui, sans-serif;
		background-color: #f1f1f1;
		margin: 0;
		padding: 0;
	},
	body {
		min-height: 100dvh;
	}
	a, a:any-link {
		text-decoration: none;
	}

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	},
	p {
		text-wrap: pretty;
	},

	button, input[type="submit"] {
		cursor: pointer;
		outline: none;
	}
</style>